Cloud/backend.json
[{"id":"ec041c7.357f5e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e4206922.efae88","type":"function","z":"ec041c7.357f5e","name":"temp","func":"return{payload:msg.payload.d.moisture};","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["749e976.8bc8c68","173d7155.54582f","7a11e8f6.000ba8","cfa05d4f.ddb71","6b10c60f.fa7a18"]]},{"id":"4bfd4e30.61cab","type":"debug","z":"ec041c7.357f5e","name":"device data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":131,"wires":[]},{"id":"25ef1db0.013862","type":"ibmiot in","z":"ec041c7.357f5e","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"00ffbbccde02","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":116,"y":225,"wires":[["4bfd4e30.61cab","e4206922.efae88"]]},{"id":"749e976.8bc8c68","type":"cloudant out","z":"ec041c7.357f5e","name":"temp to database","cloudant":"","database":"temp","service":"Boru-cloudantNoSQLDB","payonly":false,"operation":"insert","x":616.0000076293945,"y":72.00000762939453,"wires":[]},{"id":"173d7155.54582f","type":"ui_chart","z":"ec041c7.357f5e","name":"","group":"4d8ce5a2.9bacbc","order":2,"width":"30","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e9","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":583.0000076293945,"y":206.00000762939453,"wires":[[]]},{"id":"7a11e8f6.000ba8","type":"ui_gauge","z":"ec041c7.357f5e","name":"","group":"53cf8ecf.b678","order":1,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"95","x":383,"y":374,"wires":[]},{"id":"cfa05d4f.ddb71","type":"switch","z":"ec041c7.357f5e","name":"high moisture","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":637.1000366210938,"y":289,"wires":[["ae2c027a.a20fa","a53295fc.2cf458"]]},{"id":"a53295fc.2cf458","type":"ui_audio","z":"ec041c7.357f5e","name":"high moisture error","group":"53cf8ecf.b678","voice":"en-US","always":false,"x":878.1000595092773,"y":146.80002784729004,"wires":[]},{"id":"ae2c027a.a20fa","type":"ui_toast","z":"ec041c7.357f5e","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"High Moisture","name":"","x":919.0999755859375,"y":286.8000183105469,"wires":[]},{"id":"8ba4f0ad.de469","type":"inject","z":"ec041c7.357f5e","name":"","topic":"","payload":"High Moisture","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":841,"y":66,"wires":[["a53295fc.2cf458"]]},{"id":"6b10c60f.fa7a18","type":"switch","z":"ec041c7.357f5e","name":"Low Moisture","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":632,"y":357,"wires":[["b97b7b5.9c39788","357d0ebb.5fadd2"]]},{"id":"357d0ebb.5fadd2","type":"ui_toast","z":"ec041c7.357f5e","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Low Moisture","name":"","x":882,"y":365,"wires":[]},{"id":"b97b7b5.9c39788","type":"ui_audio","z":"ec041c7.357f5e","name":"","group":"53cf8ecf.b678","voice":"en-US","always":"","x":845,"y":449,"wires":[]},{"id":"7f42cd6b.519064","type":"inject","z":"ec041c7.357f5e","name":"","topic":"","payload":"Low Moisture","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":842,"y":531,"wires":[["b97b7b5.9c39788"]]},{"id":"4d8ce5a2.9bacbc","type":"ui_group","z":"","name":"Chart","tab":"248d3c76.782314","order":4,"disp":true,"width":"33","collapse":false},{"id":"53cf8ecf.b678","type":"ui_group","z":"","name":"Object Temperature","tab":"248d3c76.782314","order":3,"disp":true,"width":"11","collapse":false},{"id":"248d3c76.782314","type":"ui_tab","z":"","name":"IoT sensor","icon":"dashboard","order":3}]