UI/frontend.json
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1"},{"id":"ce7d33e3.bcaf8","type":"function","z":"deb0d57.1c46528","name":"temp","func":"return{payload:msg.payload.d.moisture};","outputs":1,"noerr":0,"x":390,"y":230,"wires":[["37924b4.22a86b4","a6f78c41.25cd9"]]},{"id":"df029005.2b78e","type":"debug","z":"deb0d57.1c46528","name":"device data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":141,"wires":[]},{"id":"85e88929.a85bf8","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"00ffbbccde02","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":176,"y":235,"wires":[["df029005.2b78e","ce7d33e3.bcaf8"]]},{"id":"37924b4.22a86b4","type":"ui_chart","z":"deb0d57.1c46528","name":"","group":"4d8ce5a2.9bacbc","order":2,"width":"30","height":"5","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e9","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650.5000076293945,"y":163.5000343322754,"wires":[[]]},{"id":"a6f78c41.25cd9","type":"ui_gauge","z":"deb0d57.1c46528","name":"","group":"53cf8ecf.b678","order":1,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"80","seg2":"95","x":443,"y":384,"wires":[]},{"id":"4d8ce5a2.9bacbc","type":"ui_group","z":"","name":"Chart","tab":"248d3c76.782314","order":4,"disp":true,"width":"33","collapse":false},{"id":"53cf8ecf.b678","type":"ui_group","z":"","name":"Object Temperature","tab":"248d3c76.782314","order":3,"disp":true,"width":"11","collapse":false},{"id":"248d3c76.782314","type":"ui_tab","z":"","name":"IoT sensor","icon":"dashboard","order":3}]